<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seon.infra.book.BookDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.seon.infra.book.BookDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.concertSeq
			,a.concertName
			,b.path
		FROM
			concert AS a
		LEFT JOIN concertphoto AS b ON b.pseq = a.concertSeq
		ORDER BY
			a.concertSeq DESC
	</select>
	
	<select id="selectListTicket" resultMap="resultMapObj">
		SELECT
			a.tkSeq
			,a.tkTime
			,b.hallName
		FROM
			ticket AS a
		LEFT JOIN concerthall AS b ON b.hallSeq = a.concertHall_hallSeq
	</select>
	
	<select id="selectListSeatA" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 3
			AND a.stPrice = 120000
			AND a.stName LIKE 'A%'
	</select>
	
	<select id="selectListSeatB" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 3
			AND a.stPrice = 120000
			AND a.stName LIKE 'B%'
	</select>
	
	<select id="selectListSeatC" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 3
			AND a.stPrice = 120000
			AND a.stName LIKE 'C%'
	</select>
	
	<select id="selectListSeatD" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 3
			AND a.stPrice = 120000
			AND a.stName LIKE 'D%'
	</select>
	
	<select id="selectListSeatE" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 2
			AND a.stPrice = 240000
			AND a.stName LIKE 'E%'
	</select>
	
	<select id="selectListSeatF" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 2
			AND a.stPrice = 240000
			AND a.stName LIKE 'F%'
	</select>
	
	<select id="selectListSeatG" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 2
			AND a.stPrice = 240000
			AND a.stName LIKE 'G%'
	</select>
	
	<select id="selectListSeatI" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 2
			AND a.stPrice = 240000
			AND a.stName LIKE 'I%'
	</select>
	
	<select id="selectListSeatJ" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 1
			AND a.stPrice = 360000
			AND a.stName LIKE 'J%'
	</select>
	
	<select id="selectListSeatK" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 1
			AND a.stPrice = 360000
			AND a.stName LIKE 'K%'
	</select>
	
	<select id="selectListSeatL" resultMap="resultMapObj">
		SELECT
			a.stSeq
			,a.stTypeNy
			,a.stRating
			,a.stName
			,a.stPrice
			,a.stDelNy
			,a.concertHall_hallSeq
		FROM
			seat AS a
		WHERE 1 = 1
			AND a.stRating = 1
			AND a.stPrice = 360000
			AND a.stName LIKE 'L%'
	</select>
	
</mapper>