<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seon.infra.code.CodeDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.seon.infra.code.CodeDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
		    ,a.cName
		    ,a.cUseNy
		    ,a.cOrder
		    ,a.cDesc
		    ,a.delNy
		    ,a.cDateTime
		    ,a.cDateTimeSvr
		    ,a.codeGroup_seq
		from
			code a
		order by
			a.seq desc
	</select>
	
	<select id="selectListCodeGroup" resultMap="resultMapObj">
		select
			a.seq
			,a.cgName
		from
			codeGroup a
		where 1 = 1
			and a.delNy = 0
		order by
			a.cgOrder desc
	</select>
	
	<insert id="insert">
		insert into code(
			cName
		    ,cUseNy
		    ,cOrder
		    ,cDesc
		    ,delNy
		    ,cDateTime
		    ,cDateTimeSvr
		    ,codeGroup_seq
		)
		value(
			#{cName}
		    ,#{cUseNy}
		    ,#{cOrder}
		    ,#{cDesc}
		    ,0
		    ,now()
		    ,now()
		    ,#{codeGroup_seq}
		)
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.seq
		    ,a.cName
		    ,a.cUseNy
		    ,a.cOrder
		    ,a.delNy
		    ,a.cDateTime
		    ,a.cDateTimeSvr
		    ,a.codeGroup_seq
		from
			code a
		where 1 = 1
			and a.seq = #{seq}
	</select>
	
	<update id="update">
		update code
			set
				cName = #{cName}
			    ,cUseNy = #{cUseNy}
			    ,cOrder = #{cOrder}
			    ,cDesc = #{cDesc}
			    ,delNy = 0
			    ,cDateTime = now()
			    ,cDateTimeSvr = now()
			    ,codeGroup_seq = #{codeGroup_seq}
			where 1 = 1
				and seq = #{seq}
	</update>
	
	<update id="uelete">
		update code
			set
				delNy = 1
			where 1 = 1
				and seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from code
			where 1 = 1
				and seq = #{seq}
	</delete>
	  
</mapper>