<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seon.infra.codegroup.CodeGroupDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.seon.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
		    ,a.cgName
		    ,a.cgUseNy
		    ,a.cgOrder
		    ,a.cgDesc
		    ,a.delNy
		    ,a.cgDateTime
		    ,a.cgDateTimeSvr
		from
			codeGroup a
		order by
			a.seq desc
	</select>
	
	<insert id="insert">
		insert into codeGroup(
			cgName
		    ,cgUseNy
		    ,cgOrder
		    ,cgDesc
		    ,delNy
		    ,cgDateTime
		    ,cgDateTimeSvr
		)
		value(
			#{cgName}
		    ,#{cgUseNy}
		    ,#{cgOrder}
		    ,#{cgDesc}
		    ,0
		    ,now()
		    ,now()
		)
	</insert>
	  
</mapper>