<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seon.infra.hoewon.HoewonDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.seon.infra.hoewon.HoewonDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
		    ,a.adminNy
		    ,a.hoewonName
		    ,a.hoewonId
		    ,a.hoewonPw
		    ,a.hoewonGender
		    ,a.hoewonBirth
		    ,a.hoewonEmail
		    ,a.hoewonPhone
		    ,a.hoewonDesc
		    ,a.hoewonRegDateTime
		    ,a.hoewonModDateTime
		from hoewon a
		order by
			a.seq desc
	</select>
	
	<insert id="insert">
		insert into hoewon(
			adminNy
		    ,hoewonName
		    ,hoewonId
		    ,hoewonPw
		    ,hoewonGender
		    ,hoewonEmail
		    ,hoewonPhone
		    ,hoewonDesc
		    ,hoewonRegDateTime
		    ,hoewonModDateTime
		)
		value(
			#{adminNy}
		    ,#{hoewonName}
		    ,#{hoewonId}
		    ,#{hoewonPw}
		    ,#{hoewonGender}
		    ,#{hoewonEmail}
		    ,#{hoewonPhone}
		    ,#{hoewonDesc}
		    ,now()
		    ,now()
		)
	</insert>
	  
</mapper>