<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seon.infra.indexUsr.IndexUsrDao">
	<!-- namespace : mapper와 연결될 dao -->
	<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.seon.infra.indexUsr.IndexUsrDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.concertSeq
			,a.concertName
			,a.concertPlayTime
			,a.concertDate
			,a.concertSinger
			,a.concertAge
			,a.concertGenre
			,a.concertDesc
			,a.concertDateTimeReg
			,a.concertDateTimeEdit
			,a.concertUseNy
			,a.concertDelNy
			,a.concertTodayNy
			,b.path
			,(SELECT COUNT(replySeq) FROM reply AS aa WHERE 1 = 1 AND aa.concert_concertSeq = a.concertSeq) AS replyCount
			,(SELECT COUNT(csSeq) FROM concertscore AS bb WHERE 1 = 1 AND bb.concert_concertSeq = a.concertSeq) AS scoreVote
			,(SELECT AVG(csStar) FROM concertscore AS cc WHERE 1 = 1 AND cc.concert_concertSeq = a.concertSeq) AS scoreAvg
		FROM concert AS a
		LEFT JOIN concertphoto AS b ON b.pseq = a.concertSeq
		ORDER BY
			a.concertSeq DESC
	</select>
	
</mapper>