<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seon.infra.member.MemberDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.seon.infra.member.MemberDto" id="resultMapObj"></resultMap>
	
	<!-- include S -->
	<sql id="selectCommon">
		FROM
			member AS a
		WHERE 1 = 1
			<if test="shDelNy != null and !shDelNy.equals('')">AND mmDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND mmUseNy = #{shUseNy}</if>
			<choose>
				<when test="shOption == 1">AND mmSeq = #{shValue}</when>
				<when test="shOption == 2">AND mmName LIKE CONCAT('%', #{shValue}, '%')</when>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND mmDateTimeReg BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND mmDateTimeEdit BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	</sql>
	<!-- include E -->
	
	<!-- count S -->
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	<!-- count E -->
	
	<!-- selectList S -->
	<select id="selectList" resultMap="resultMapObj">
	SELECT aa.* FROM(
			SELECT
				a.mmSeq
				,a.mmName
				,a.mmGender
				,a.mmId
				,a.mmEmail
				,a.mmPw
				,a.mmBirth
				,a.mmPhone
				,a.mmDateTimeReg
				,a.mmDateTimeEdit
				,a.mmUseNy
				,a.mmDelNy
				,a.mmZipNum
				,a.mmAdr
				,a.mmAdrDt
			<include refid="selectCommon" />
			ORDER BY
				a.mmSeq desc
			) aa
			limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	<!-- selectList E -->
	
	<!-- insert S -->
	<insert id="insert">
		INSERT INTO member(
			mmName
			,mmGender
			,mmId
			,mmEmail
			,mmPw
			,mmBirth
			,mmPhone
			,mmDateTimeReg
			,mmDateTimeEdit
			,mmUseNy
			,mmDelNy
			,mmZipNum
			,mmAdr
			,mmAdrDt
		)
		VALUE(
			#{mmName}
		    ,#{mmGender}
		    ,#{mmId}
		    ,#{mmEmail}
		    ,#{mmPw}
		    ,#{mmBirth}
		    ,#{mmPhone}
		    ,now()
		    ,now()
		    ,1
		    ,0
		    ,#{mmZipNum}
			,#{mmAdr}
			,#{mmAdrDt}
		)
		<selectKey resultType="String" keyProperty="mmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- insert E -->
	
	<!-- insertUsr S -->
	<insert id="insertUsr">
		INSERT INTO member(
			mmName
			,mmGender
			,mmId
			,mmEmail
			,mmPw
			,mmBirth
			,mmPhone
			,mmDateTimeReg
			,mmDateTimeEdit
			,mmUseNy
			,mmDelNy
			,mmZipNum
			,mmAdr
			,mmAdrDt
		)
		VALUE(
			#{mmName}
		    ,#{mmGender}
		    ,#{mmId}
		    ,#{mmEmail}
		    ,#{mmPw}
		    ,#{mmBirth}
		    ,#{mmPhone}
		    ,now()
		    ,now()
		    ,1
		    ,0
		    ,#{mmZipNum}
			,#{mmAdr}
			,#{mmAdrDt}
		)
		<selectKey resultType="String" keyProperty="mmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- insertUsr E -->
	
	<!-- selectOne S -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.mmSeq
			,a.mmName
			,a.mmGender
			,a.mmId
			,a.mmEmail
			,a.mmPw
			,a.mmBirth
			,a.mmPhone
			,a.mmDateTimeReg
			,a.mmDateTimeEdit
			,a.mmUseNy
			,a.mmDelNy
			,a.mmZipNum
			,a.mmAdr
			,a.mmAdrDt
		FROM
			member AS a
		WHERE 1 = 1
			AND a.mmSeq = #{mmSeq}
	</select>
	<!-- selectOne E -->
	
	<!-- update S -->
	<update id="update">
		UPDATE member
			SET
				mmName = #{mmName}
				,mmGender = #{mmGender}
				,mmId = #{mmId}
				,mmEmail = #{mmEmail}
				,mmPw = #{mmPw}
				,mmBirth = #{mmBirth}
				,mmPhone = #{mmPhone}
				,mmDateTimeReg = now()
				,mmDateTimeEdit = now()
				,mmUseNy = 1
				,mmDelNy = 0
				,mmZipNum = #{mmZipNum}
				,mmAdr = #{mmAdr}
				,mmAdrDt = #{mmAdrDt}
			WHERE 1 = 1
				AND mmSeq = #{mmSeq}
	</update>
	<!-- update E -->
	
	<!-- uelete S -->
	<update id="uelete">
		UPDATE member
			SET
				mmDelNy = 1
			WHERE 1 = 1
				AND mmSeq = #{mmSeq}
	</update>
	<!-- uelete E -->
	
	<!-- delete S -->
	<delete id="delete">
		DELETE FROM member
			WHERE 1 = 1
			AND mmSeq = #{mmSeq}
	</delete>
	<!-- delete E -->
	
	<!-- selectOneLogin S -->
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			a.mmSeq
			,a.mmId
			,a.mmPw
			,a.mmName
		FROM
			member AS a
		WHERE 1 = 1
			AND a.mmId = #{mmId}
			AND a.mmPw = #{mmPw}
	</select>
	<!-- selectOneLogin E -->
	
	<!-- selectOneId S -->
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			a.mmSeq
			,a.mmId
			,a.mmPw
		FROM member AS a
		WHERE 1 = 1
			AND a.mmId = #{mmId}
	</select>
	<!-- selectOneId E -->
	
</mapper>