<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seon.infra.signUpUsr.SignUpUsrDao">
<!-- namespace :  mapper와 연결될 dao -->
<!-- xml에서 주석 단축키 : Ctrl + Shift + C -->

	<resultMap type="com.seon.infra.signUpUsr.SignUpUsrDto" id="resultMapObj"></resultMap>
	
	<!-- insert S -->
	<insert id="insert">
		INSERT INTO member(
			mmName
			,mmGender
			,mmId
			,mmEmail
			,mmPw
			,mmBirth
			,mmPhone
			,mmDateTimeReg
			,mmDateTimeEdit
			,mmUseNy
			,mmDelNy
			,mmZipNum
			,mmAdr
			,mmAdrDt
		)
		VALUE(
			#{mmName}
		    ,#{mmGender}
		    ,#{mmId}
		    ,#{mmEmail}
		    ,#{mmPw}
		    ,#{mmBirth}
		    ,#{mmPhone}
		    ,now()
		    ,now()
		    ,1
		    ,0
		    ,#{mmZipNum}
			,#{mmAdr}
			,#{mmAdrDt}
		)
		<selectKey resultType="String" keyProperty="mmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- insert E -->
	
</mapper>